.nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: rgb(32, 33, 36);
  width: fit-content;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}
.nav > a {
  color: white;
  text-decoration: none;
}
.nav > .active {
  font-weight: bolder;
}
